.hero-banner {
   min-height: 100vh;
   width: 100%;
   background-image: url('/images/red-hijab.jpg');
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   background-attachment: fixed;
   background-color: #c3c3c3;
}
